<div class="container">
  <h2>Player List</h2>
  <div class="button-container">
    <button class="start-game" (click)="startGame()">Start Game</button>
    <button class="clear-game" (click)="clearCurrentPlayers()">Initialize new game</button>
  </div>
  <ul>
    <li *ngFor="let player of players | keyvalue">
      <div class="player-info">
        <span>{{ player.value.name }}</span>
        <span class="player-disambiguator">({{ player.value.disambiguator }} id:{{player.key}})</span>
      </div>
      <span class="player-score">{{ player.value.score }}</span>
    </li>
  </ul>
</div>
